.messages {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 50;
    left: 0;
    right: 0;
    padding: 20px;
    z-index: 1000;
  }
  
  .center-screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }