### Qubik Hypervisor ###
ansible/
emulations/
isolation/
security/
pruebas/
virtualization/
virtualization/*
vm_management/unpublished/
vm_management/scripts/env/*
*.swp

### Django Web application ###
.venv
.vscode
settings.json
__pycache__
*.sqlite3
settings.py
migrations/
js/
applications/web/app_tlk/.env
applications/web/.env

### Typescript ###
node_modules/
dist/
#package-lock.json
#package.json
#.env
.env.development
.env.production
# setenv.sh
tsconfig.private.json

### Go ###
# Directories
bin/
pkg/
src/bin/

### Deploy ###
bare_repositories/

#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*
