.messages {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 50;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 1000;
}
  
.center-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav {
  --bs-nav-link-hover-color: #FFEB3B;
}

#searcherInput {
  background-image: url('../images/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.vm-info {
  height: 48px;
}

#radioSelect {
  width: 500px;
  list-style-type: none;
  border: none;
}

.invalid-input {
  border: solid 2px red;
}
.invalid-message {
  color: red;
}