{% extends "../base.html" %}
{% load static %}

{% block title %}Main Panel{% endblock title %}

{% block content %}

{% if user.is_authenticated %}
    {% include '../navbar.html' %}
    <div class="container mt-3">
        <div class="d-flex justify-content-left align-items-center">
            <img src="{% static 'images/avatar.png' %}" alt="usuario" width=40 class='mx-1'/>
            <h4 class='mt-3'>{{ user.username }}</h4>
        </div>
        
        <div>
            <img src="{% static 'images/monitor.png' %}" alt="Icono">
            <span class="ml-2 fs-5">Your Virtual Machines: {{numbers}}</span>
        </div>

        {% if not virtual_machines %}
            <div class="text-center mt-5">
                <h3 class="text-black-50">
                    You haven't created virtual machines yet!
                </h3>
                <h6 class="text-black-50">
                    You can create new virtual machines from <a href="{% url 'create-vm' %}">here</a>
                </h6>
            </div>
        {% endif %}

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mt-3">
            {% csrf_token %}
            {% for vm in virtual_machines %}
            <div class="col h-100">
                <div class="card vm-component" id={{vm.id}}>
                    <div class="card-header d-flex justify-content-between align-items-center">
                        
                        <span>🖥️ {{vm.name}}</span>
                        <span class="dropdown">
                            <button
                                type="button"
                                class="btn btn-outline-secondary border-0"
                                data-bs-toggle="dropdown"
                            >...</button>
                            <div class="dropdown-menu p-3" id="dropdown-{{vm.id}}" style="width: 280px; background-color: #eaf584;">
                               <div class="small"><strong>OS:</strong> {{vm.resources.os}}</div>
                               <div class="small"><strong>VM Name:</strong> {{vm.name}}</div>
                               <span class="small"><strong>id</strong>:{{vm.id}}</span>
                               <hr>
                               <div class="small"><strong>App:</strong> {{vm.app_name}}</div>
                               <div class="small"><strong>Version:</strong> {{vm.app_version}}</div>
                               <hr>
                               <div class="small vcpu">
                                    <div><strong>V-CPU:</strong> {{vm.resources.vcpu}}</div>
                                    <div class="vcpu-array">Not available</div>
                               </div>
                               <div class="small vram mt-1">
                                    <span><strong>V-RAM:</strong> {{vm.resources.vram}}</span> 
                                    <div class="vram-used">Not available</div>
                                    <span class="vram-percent"></span>
                               </div>
                               <div class="small vdisk mt-1">
                                    <span><strong>V-DISK:</strong> {{vm.resources.vdisk}}</span> 
                                    <div class="vdisk-used">Not available</div>
                                    <span class="vdisk-percent"></span>
                               </div>
                            </div>                          
                        </span>
                    </div>
                    <div class="card-body">
                        <div class="virtual-machine-{{vm.id}} vm-info">
                            <div>💫 {{vm.app_name}}</div>
                            {% comment %} <div>✨ {{vm.app_name}}</div> {% endcomment %}
                            {% comment %} <div>⭐ {{vm.app_name}}</div> {% endcomment %}
                            <a href="http://192.168.0.250/{{user.username}}/{{vm.app_name}}/" target="_blank">
                                Open application
                            </a>
                        </div>
                        <hr>
                        <div class='d-flex justify-content-between'>
                            <span class="form-check form-switch">
                                {% csrf_token %}
                                <input
                                 class="form-check-input" 
                                 type="checkbox" 
                                 id="toggle-{{vm.id}}"
                                 {% if vm.state %}checked{% endif %}
                                />
                            </span>
                            <span class="status-{{vm.id}}">
                                {% if vm.state %}
                                    <span class="badge bg-success">Running</span>
                                {% else %}
                                    <span class="badge bg-secondary">Power OFF</span>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
      </div>
      <script src="{% static '/js/mainPanel/bundle.js' %}"></script>
{% else %}
    {% include 'app_main_panel/welcome.html' %}
{% endif %}

{% endblock content %}
